.header {
   border-bottom: 2px solid black;
   padding: 10px 0px;
}

.header .inner-logo img {
   max-height: 50px;
   max-width: 100%;
}

.header .inner-menu>ul {
   list-style: none;
   padding: 0px;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
}

.header .inner-menu>ul>li {
   margin-left: 20px;
}

/* can cho foot cho cuoi  */
.footer {
   background: #333;
   color: red;
   text-align: center;
   padding: 10px;
}

/* tao hinh co khoi san pham . */
.khoi2 {
   border: 1px solid black;
   border-radius: 5px;
   width: 300px;
   height: 200pxx;
}

.product {
   margin-bottom: 10px;
   /* Khoảng cách dưới 10px */
   padding: 10px;
   /* Khoảng cách bên trong 10px */
   margin-right: 10px;
   padding-right: 10px;
   /* Khoảng cách bên trong bên phải 10px */

}

.btn1{
   background: red;
}
.btn2{
   background: greenyellow;
}

#orm-change-multi .form-control{
   display: none;
}


.product .khoi2{
   display: inline-block;
   padding: 10px;
   margin: 5px;
}