doctype html 
html 
   head 
      title #{pageTitle}
      // nhung file css . 
      link(rel="stylesheet", href="/client/css/style.css")
   body 
      include ../partials/header.pug

      block main

      include ../partials/footer.pug

      // nhung file
      script(src ="/js/script.js")

